.home-wrapper {
    text-align: center;
}

.home__bordboek-wrapper {
    display: inline-block;
    width: 95%;
}

.home__bordboek {
    max-width: 100%;
}

/* TODO: fix button position on bordboek */
.home_btn-bordles {
    cursor: pointer;
    position: absolute;
    top: 8%;
    left: 46%;
    width: 40px;
    height: 40px;
    background: url('./app/images/btn-bordles.png');
    background-size: 100%;
}

@media (min-width: 1200px) {
    .home__bordboek {
        width: 1063px;
    }

    .home_btn-bordles {
        top: 35px;
        left: 46%;
    }
}